# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Envs (cover both venv and conda-in-project possibilities)
.venv/
venv/
env/
.conda/

# IDE
.idea/
.vscode/

# OS noise
.DS_Store
Thumbs.db

